<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-lg">
            <span class="navbar-text">INICIO</span>
            <div class="collapse navbar-collapse" style="justify-content: end;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Primera</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">Sengunda</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">Tercera</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="d-flex justify-content-center mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center mb-4">Resultados aun en desarrollo</h5>
                    <div class="row">
                        <div class="col-12 d-grid mb-2">
                            <a href="/" class="btn btn-primary" id="btn-volver">volver al inicio</a>
                        </div>
                        <!-- <div class="col-12 d-grid mb-2">
                            <a href="/second" class="btn btn-secondary" id="pag1-p2">Desenfodado</a>
                        </div>
                        <div class="col-12 d-grid mb-2">
                            <a href="/second" class="btn btn-success" id="pag1-p3">Casual</a>
                        </div>
                        <div class="col-12 d-grid mb-2">
                            <a href="/second" class="btn btn-danger" id="pag1-p4">Sexy</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script type="module" src="/views/scripts/indexScripts.js"></script>
</body>

</html>